<template>
  <div id="app">
    <header>
      <h1>Контакты - тестовая задача</h1>

      <router-link :to="{name: 'client_add'}">+Добавить контакт</router-link>

    </header>
    <main>


      <div class="content">
         <router-view></router-view>
      </div>
    </main>
  </div>
</template>
<style lang="scss">
  body {
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #42b983;
    text-align: center;
    background: #ffffff;

  }
  main {
    display: flex;
    height: calc(100vh - 90px);
    max-width: 1200px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .content {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  table, th, td {
    margin:5px;
    padding:15px;
    width:100%;
    border: 1px solid black;
  }
</style>