<template>
    <div id="app">

        <main>

            <div class="content">
                <a href=""></a>
                <form>
                    <input type="text" placeholder="Имя"  v-model="first_name">
                    <input type="text" placeholder="Фамилия"  v-model="last_name">
                    <input type="text" placeholder="Страна"  v-model="country">


                    <button v-if="!this.$route.params.id"  @click.prevent="create()">Submit create</button>
                    <button v-if="this.$route.params.id" @click.prevent="update()">Submit update</button>
                </form>
            </div>
        </main>
    </div>
</template>

<script>
    import api from './api';

    export default {
        props: ['id'],
        name: "Contact",
        data() {
            return {
                first_name: '',
                last_name: '',
                country: '',
            };
        },
        methods: {
            create() {
                const options = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    country: this.country,
                };
                api.addClient(options)
                    .then((response) => {
                        console.log(response);
                        if(response.status == 200) {
                             document.location.href = '/';
                            //console.log(response);
                        }
                    });
            },

            update() {
                const options = {
                    id: this.$route.params.id,
                    first_name: this.first_name,
                    last_name: this.last_name,
                    country: this.country,
                };
                api.updateClient(options)
                    .then((response) => {

                        document.location.href = '/';
                    });
            },

        },
        mounted() {
              if(this.$route.params.id) {
                  api.getClientById(this.$route.params.id)
                      .then(response => {
                          this.first_name = response.data.first_name,
                              this.last_name = response.data.last_name,
                              this.country = response.data.country
                      })
                      .catch(error => {
                          console.log(error);
                      })
              }
        },

        created() {
            //this.client(this.id);
        }

    }
</script>

<style scoped>

</style>