<template>

<table class="items" width="100%">
                    <thead>
                    <tr aria-colspan="6">
                        <input type="text"  v-model="search" placeholder="Поиск.." @keyup="searchClients">
                       </tr>
                    <tr>
                        <th>#ID</th>
                        <th>Имя контакта</th>
                        <th>Фамилия контакта</th>
                        <th>Телефоны</th>
                        <th>Страна</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="client in clients">
                        <td>{{client.id}}</td>
                        <td>{{client.first_name}}</td>
                        <td>{{client.last_name}}</td>
                        <td>
                            <div v-for="phone in client.phones" :key="phone.id">{{phone}}</div>
                            <br>
                            <input type="text" v-model="phone"   placeholder="Номер телефона">
                            <button @click="addPhone(client.phones, client.id)">+Добавить телефон</button>
                        </td>
                        <td>{{client.country}}</td>
                        <td>
                            <router-link :to="{name: 'client_edit', params: { id: client.id } }">Изменить</router-link>
                            &nbsp;
                            <a href="javascript:;" @click="deleteClient(client.id)">Удалить</a>
                        </td>
                    </tr>

                    </tbody>
                </table>



</template>
<script>
    import api from './api'


    export default {
        data () {
            return {
                clients: null,
                phone: null,
                search: null,

            }
        },

        created() {
            this.getAllClients();
        },

        methods: {
            getAllClients() {
                api.getClients()
                    .then(response => {
                        //console.log(response);
                        this.clients = response.data.clients;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            addPhone(phones, id) {
                //phones.push(this.phone);


                api.addPhone({phone: this.phone, id: id})
                    .then(response => {
                        //console.log(response);
                        document.location.href = '/';

                    })
                    .catch(error => {
                        console.log(error);
                });
                this.phone = null;
            },
            searchClients() {

                api.searchClients(this.search)
                    .then(response => {
                        this.clients = response.data.clients;

                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteClient(id){
                if(confirm("Точно удаляем?")) {
                    api.deleteClient(id)
                        .then(response => {
                            location.reload();

                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            }


        }
    }
</script>
<style>
    table {
        margin-top:40px;
    }
</style>
